<ion-header>
    <ion-toolbar>
        <ion-title>Traveaux</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content><br><br>
    <ion-row class="row">
        <ion-col>
            <button class="ajouterLister" (click)="clickLister()">Lister</button>
        </ion-col>
        <ion-col>
            <button class="ajouterLister" (click)="clickAjouter()">Ajouter</button>
        </ion-col>
    </ion-row><br>
    <div *ngIf='mode===1'>
        <ion-button color="warning">
            <ion-icon name="download-outline"></ion-icon>
        </ion-button><br>
        <table>
            <thead>
                <tr>
                    <th><b>Thème</b></th>
                    <th><b>Début</b></th>
                    <th><b>Fin</b></th>
                    <th><b>Action</b></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let app of travaux">
                    <td>{{app.titre}}</td>
                    <td>{{app.debut}}</td>
                    <td>{{app.fin}}</td>
                    <td>
                        <ion-icon name="trash"></ion-icon>
                        <ion-icon name="create-outline"></ion-icon>
                    </td>

            </tbody>
        </table>
    </div>

    <div *ngIf='mode===2'>
        <form [formGroup]="baara" (ngSubmit)="ajouTravaux()">
            <ion-label>Thème</ion-label>
            <input matInput type="text" class="theme" formControlName="titre"><br>

            <ion-radio-group formControlName="type">
                <ion-radio value="VEILLE"></ion-radio>
                <ion-label>Veille</ion-label>
                <ion-radio value="TP"></ion-radio>
                <ion-label>TP</ion-label>
            </ion-radio-group><br><br>
            <ion-label>Nombre de personne par groupe</ion-label>
            <input class="nbreApprenants" formControlName="nombre" name="nombre"><br>
            <label>Début</label>
            <input matInput type="date" formControlName="debut" name="debut">
            <label>Fin</label>
            <input matInput type="date" formControlName="fin" name="fin">
            <!-- <ion-radio-group>
                <ion-radio value="ordre"></ion-radio>
                <ion-label>Ordre</ion-label>
                <ion-radio value="aleatoir">Aleatoire</ion-radio>
                <ion-label>Aleatoire</ion-label>
            </ion-radio-group><br><br> -->
            <button class="ajouterButton" style="background-color: #FF8000; color: #000000" type="submit">Confirmer</button>
        </form>
    </div>
</ion-content>