<ion-content>
    <div class="ion-padding">
        <h2>Groupe X</h2>
        <h6>thème:</h6>
        <b>date de début:</b>
        <h6>date de fin:</h6>

        <table>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Numéro</th>
            </tr>
            <tr>
                <td>root</td>
                <td>root@gmail.com</td>
                <td>12345678</td>
            </tr>
            <tr>
                <td>admin</td>
                <td>admin@gmail.com</td>
                <td>87654321</td>
            </tr>
            <tr>
                <td>Centro</td>
                <td>Francisc</td>
                <td>Mexico dd</td>
            </tr>
        </table>
    </div>
</ion-content>