<ion-content>
    <div class="ion-padding" *ngFor="let app of groupes ">
        <h2>{{app.nom}}</h2>
        <h6>thème:&nbsp;{{app.travaux.titre}}</h6>
        <b>début:&nbsp;{{app.travaux.debut}}</b>
        <h6>fin:&nbsp;{{app.travaux.fin}}</h6>

        <table>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Numéro</th>
            </tr>
            <tr *ngFor="let app of listes">
                <td>{{app.nom}}</td>
                <td>{{app.email}}</td>
                <td>{{app.tel}}</td>
            </tr>
        </table>
    </div>
</ion-content>