<ion-content>
    <div class="ion-padding" *ngFor="let app of groupes ">
        <h2>{{app.nom}}</h2>
        <h6>thème:&nbsp;{{app.travaux.titre}}</h6>
        <b>date de début:&nbsp;{{app.travaux.debut}}</b>
        <h6>date de fin:&nbsp;{{app.travaux.fin}}</h6>

        <table>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Numéro</th>
            </tr>
            <tr>
                <td>root</td>
                <td>root@gmail.com</td>
                <td>12345678</td>
            </tr>
            <tr>
                <td>admin</td>
                <td>admin@gmail.com</td>
                <td>87654321</td>
            </tr>
            <tr>
                <td>Centro</td>
                <td>Francisc</td>
                <td>Mexico dd</td>
            </tr>
        </table>
    </div>
</ion-content>