table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    color: black;
    margin-right: auto;
    margin-left: auto;
}

th,
td {
    border: 1px solid #0e0d0d;
    text-align: center;
    position: relative;
    padding-left: auto;
    padding-right: auto;
    // width: auto;
    // height: auto;
}

tr:nth-child(even) {
    background-color: #FF8000;
}