<ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-card">
        <ion-card>
            <ion-img src="../../assets/images/logoOdk.png"></ion-img>
            <ion-title>Kalanso</ion-title>
            <ion-label>Login</ion-label>
            <ion-input></ion-input>
            <ion-label>Mot de passe</ion-label>
            <ion-input></ion-input>
            <span class="span">
                <button style="background-color: #FF8000; color: #000000" routerLink="/menu">Connexion</button>
            </span>
            <ion-label style="font-size: 15px; color: red" routerLink="/forgot-password">Mot de passe oublié ?</ion-label>
        </ion-card>
    </div>
</ion-content>