<ion-header>
    <ion-toolbar>
        <ion-title>menu</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-row>
            <ion-col size="12">
                <ion-item>
                    <ion-label>groupe X</ion-label>
                </ion-item>


                <ion-card-content>
                    <summary>
                        <button (click)="presentPopover()">text</button>
                        <details>azertyuiop^$</details>
                    </summary>
                </ion-card-content>
            </ion-col>
        </ion-row>

    </ion-card>
</ion-content>