<ion-header>
    <ion-toolbar>
        <ion-title>menu</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="card-disposition">
        <div class="card-content">
            <ion-card class="content">
                <ion-label>Groupe 2</ion-label>
                <div class="hr"></div>
                <ion-label class="details">Details</ion-label>
                <ion-icon name="caret-down-outline"></ion-icon>
            </ion-card>
        </div>
        <div class="card-content">
            <ion-card class="content">
                <ion-label>Groupe 2</ion-label>
                <div class="hr"></div>
                <ion-label class="details">Details</ion-label>
                <ion-icon name="caret-down-outline"></ion-icon>
            </ion-card>
        </div>
        <div class="card-content">
            <ion-card class="content">
                <ion-label>Groupe 2</ion-label>
                <div class="hr"></div>
                <ion-label class="details">Details</ion-label>
                <ion-icon name="caret-down-outline"></ion-icon>
            </ion-card>
        </div>
        <div class="card-content">
            <ion-card class="content">
                <ion-label>Groupe 2</ion-label>
                <div class="hr"></div>
                <ion-label class="details">Details</ion-label>
                <ion-icon name="caret-down-outline"></ion-icon>
            </ion-card>
        </div>
        <div class="card-content">
            <ion-card class="content">
                <ion-label>Groupe 2</ion-label>
                <div class="hr"></div>
                <ion-label class="details">Details</ion-label>
                <ion-icon name="caret-down-outline"></ion-icon>
            </ion-card>
        </div>
        <div class="card-content">
            <ion-card class="content">
                <ion-label>Groupe 2</ion-label>
                <div class="hr"></div>
                <ion-label class="details">Details</ion-label>
                <ion-icon name="caret-down-outline"></ion-icon>
            </ion-card>
        </div>
    </div>
</ion-content>