.cloro {
    --ion-background-color: #000000;
}

img {
    height: 30vh !important;
    width: auto !important;
    align-items: center;
    padding-left: 15%;
}

button {
    background-color: red;
    font-size: 1.4em;
    color: #ffff;
    position: relative;
    left: 15%;
    bottom: 60%;
}