<ion-header>
    <ion-toolbar>
        <ion-title>Apprenants</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content><br><br>
    <ion-row class="row">
        <ion-col>
            <button class="ajouterLister" (click)="clickLister()">Lister</button>
        </ion-col>
        <ion-col>
            <button class="ajouterLister" (click)="clickAjouter()">Ajouter</button>
        </ion-col>
    </ion-row><br>

    <div *ngIf='mode===1'>
        <ion-button color="warning">
            <ion-icon name="download-outline"></ion-icon>
        </ion-button><br>
        <table>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Numéro</th>
            </tr>
            <tr *ngFor="let app of listes">
                <td>{{app.nom}}</td>
                <td>{{app.email}}</td>
                <td>{{app.tel}}</td>
            </tr>
        </table>
    </div>

    <div *ngIf='mode===2'>
        <form autocomplete="off" [formGroup]="apprenant" (ngSubmit)="saveData()">
            <div>
                <ion-item>
                    <input type="text" name="nom" matInput placeholder="Nom complet" formControlName="nom">
                </ion-item>
                <ion-item>
                    <input type="email" name="email" matInput placeholder="Email" formControlName="email">
                </ion-item>
                <ion-item>
                    <input type="number" name="tel" matInput placeholder="Telephone" formControlName="tel">
                </ion-item><br>
                <button class="ajouterButton" style="background-color: #FF8000; color: #000000" type="submit">Confirmer</button>
            </div>
        </form>
    </div>
</ion-content>