<ion-header>
    <ion-toolbar>
        <ion-title>Apprenants</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <table>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Numéro</th>
        </tr>
        <tr *ngFor="let app of listes">
            <td>{{app.nom}}</td>
            <td>{{app.email}}</td>
            <td>{{app.tel}}</td>
        </tr>
    </table>
</ion-content>