<ion-header>
  <ion-toolbar>
      <ion-title></ion-title>
      <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-card">
    <ion-card>
        <ion-img src="../../assets/images/logoOdk.png"></ion-img>
        <ion-title>Kalanso Groupe</ion-title><br>
        <ion-label>Renseignez votre adresse email</ion-label>
        <ion-input></ion-input>
        <span class="span">
          <button style="background-color: #FF8000; color: #000000" routerLink="/login">Envoyer</button>
        </span>
    </ion-card>
  </div>
</ion-content>
