ion-input{
    border-radius: 45px;
    border: 1px solid black;
}

* {
    width: auto;
    height: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    color: black;
}

th,
td {
    border: 1px solid #0e0d0d;
    text-align: center;
    padding: 1px;
    width: auto;
    height: auto;
}

tr:nth-child(even) {
    background-color: #FF8000;
}