<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter</ion-title>
  </ion-toolbar>
</ion-header>


  

<ion-content>
  <div>
    <ion-button [routerLink]="['/lister']" color="primary">Lister</ion-button>
    <ion-button [routerLink]="['/ajouter']" color="secondary">Ajouter</ion-button>  
  </div>
  
<!-- Input with value -->
<ion-label>Nom Complet</ion-label>

<!-- Input with placeholder -->
<ion-input></ion-input>

<!-- Input with clear button when there is a value -->
<ion-label>Email</ion-label>

<!-- Number type input -->
<ion-input></ion-input>

<!-- Input with clear button when there is a value -->
<ion-label>Numéro de telephone</ion-label>

<!-- Number type input -->
<ion-input></ion-input>

</ion-content>
