<ion-header>
  <ion-toolbar>
      <ion-title>Apprenents</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-row>
      <ion-col>
        <button color="primary" (click)="clickLister()">Lister</button>
      </ion-col>
      <ion-col>
        <button color="secondary" (click)="clickAjouter()">Ajouter</button>  
      </ion-col>
    </ion-row>
  </div>
  
<div>
  <form  (ngSubmit)="ajoutApprenants(form)" #form="ngForm">
    <ion-item>
      <ion-label position="floating" color="dark">Nom Complet</ion-label>
      <ion-input  type="text" ngModel name="nom" #nom="ngModel" spellcheck="false" autocapitalize="off"
        required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="dark">Email</ion-label>
      <ion-input  type="email" ngModel name="email" #email="ngModel" spellcheck="false" autocapitalize="off"
        required>
      </ion-input>
    </ion-item>
      <ion-item>
        <ion-label position="floating" color="dark">Telephone</ion-label>
        <ion-input type="text" ngMode  name="tel" #tel="ngModel" spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item>
    <ion-button class="ajouter" type="submit" >Ajouter</ion-button>
  </form>

</div>

</ion-content>
