<ion-header>
  <ion-toolbar>
      <ion-title>Apprenents</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-row>
      <ion-col>
        <button color="primary" (click)="clickLister()">Lister</button>
      </ion-col>
      <ion-col>
        <button color="secondary" (click)="clickAjouter()">Ajouter</button>  
      </ion-col>
    </ion-row>
  </div>
  
<form (ngSubmit)="ajoutApprenants(f.value)", #f="ngForm">
  <div>
    <ion-item>
      <ion-label position="floating" color="dark">Nom</ion-label>
      <ion-input  name="nom" type="text" ngModel   spellcheck="false" autocapitalize="off"
        required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="dark">Email</ion-label>
      <ion-input  name="email" type="email" ngModel  spellcheck="false" autocapitalize="off"
        required>
      </ion-input>
    </ion-item>
      <ion-item>
        <ion-label position="floating" color="dark">Telephone</ion-label>
        <ion-input  name="tel" type="text" ngModel  spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>
    <button class="ajouter" type="submit">Ajouter</button>
  
  </div>
</form>

</ion-content>
